.octocat img {
  height: 300px;
  border: 1px solid lightgrey;
}

.octodex {
  display: flex;
  justify-content: space-between;
}

.image-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  height: 32px;
}
.image-number {
  border: 1px solid red;
}

.image-caption {
  /* position: relative;
  left: -62px; */
  border: 1px solid red;
  display: inline-block;
  vertical-align: middle;
}

.authors img {
  height: 18px;
  float: right;
}

* {
  font-family: sans-serif;
}

a:link {
  font-weight: bold;
}

a:visited {
  font-weight: bold;
  color: black;
}

ul li {
  list-style: none;
}

ul {
  display: inline-block;
  vertical-align: middle;
}
