.octocat img {
  height: 300px;
  border: 1px solid gray;
}

.octodex {
  display: flex;
  justify-content: space-between;
}

.image-footer {
}
.image-number {
}

.image-caption {
  position: relative;
  left: 90px;
  bottom: 20px;
}

.authors img {
  height: 15px;
  position: relative;
  left: 109px;
  bottom: 20px;
}

* {
  font-family: sans-serif;
}

a:link {
  font-weight: bold;
}

a:visited {
  font-weight: bold;
  color: black;
}
